<aside class="sidebar">
    <div class="sidebar_wrap">
      <div class="user_container">
        <div class="user_info_wrap">
          <div class="user_icon_box">
            <img>
          </div>
          <div class="font-body3">행복한 고냥이<span class="font-body7" style="margin-left:3px;">님</span></div>
        </div>
        <div class="user_histroy_wrap">
          <div class="user_histroy_box font-body9">
            <span>면접 진행 횟수</span>
            <span class="font-body9">5회</span>  
          </div>              
          <div class="user_histroy_box font-body9">
            <span>최근 접속일</span>
            <span class="font-body9">24.08.18</span>  
          </div>              
        </div>
      </div>
      <div class="tab_container">
        <button class="nav_tab people">기본 정보<div class="end_bar"></div></button>
        <button class="nav_tab interview selected">면접 질문<div class="end_bar"></div></button>
        <button class="nav_tab histroy">면접 히스토리<div class="end_bar"></div></button>
        <button class="nav_tab qna">문의하기<div class="end_bar"></div></button>
      </div>
    </div>
  </aside>