@charset "utf-8";
div.main_container{
    position: relative;
    display: flex;
    width: 100%;
    height: calc(100% - 60px);
    margin:0px auto 0px auto;
    /* min-height: 700px; */
    position: relative;  
    background-color: var(--Main-23);
}

div.main_container .content_container{
    position: relative;
    margin: 20px auto;
    gap:30px;
    display: grid;
    grid-template-columns: 227px 1fr;
    justify-content: center;
}

div.main_container .sidebar{
    position: relative;
}

div.main_container .sidebar .sidebar_wrap{
    display: flex;
    flex-direction: column;
    gap:40px;
    position: sticky;
    top: 20px; 
    background-color: var(--White);
    padding-block: 30px;
    border-radius: 20px;
}

div.main_container .sidebar .user_container{
    padding-inline: 30px;
    display: flex;
    flex-direction: column;
    gap:40px;
}

div.main_container .sidebar .user_container .user_info_wrap{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

div.main_container .sidebar .user_container .user_info_wrap .user_icon_box{
    width: 64px;
    height: 64px;
    border-radius: 10px;
    background-color: var(--Main-10);
}

div.main_container .sidebar .user_container .user_histroy_wrap{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

div.main_container .sidebar .user_container .user_histroy_wrap .user_histroy_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--Main-20);
}

div.main_container .sidebar .tab_container > a{
    display: flex;
    align-items: center;
}

div.main_container .content_container .main_content{
    overflow-y: auto;
    background-color: var(--White);
    border-radius: 20px;
    padding: 70px 81px;
    position: relative;
    width: 1205px;
}

.fixed-action-bar {
    position: fixed;
    bottom: 53px; 
    left: calc(50% + 140px);
    transform: translateX(-50%);
    background-color: var(--White); 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); 
    padding: 15px 30px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
    gap: 15px; 
    z-index: 10;
    width: 100%;   
    max-width: 785px;
    border-radius: 20px;
}

.fixed-action-bar .bar_content {
    margin : 0px 50px; 
    color: var(--Main-0 );
}

.fixed-action-bar .bar_btn_box {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.main_content .interview_qna_wrap{
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.main_content .interview_qna_header{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
}

.main_content .interview_qna_header .header_sub{
    color: var(--Main-7);
}

.main_content .interview_qna_wrap .interview_qna_content{
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.main_content .interview_qna_wrap .interview_qna_content .content_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
}

.main_content .interview_qna_wrap .interview_qna_content .content_wrap{
    border-radius: 20px;
    border: 1px solid var(--Main-25);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 19px;
    justify-content: center;
    align-items: flex-start;
}

.start-interview {
    background-color: #2B78E4;
    color: white;
}

.random-interview {
    background-color: white;
    color: #2B78E4;
    border: 2px solid #2B78E4;
}

.plus_btn{
    background-image: url('../images/icon/plus.png');
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.arrow_bottom_btn{
    background-image: url('../images/icon/arrow_bottom_blue.png');
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.qna_list{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.qna_list .qna_item{
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.qna_list .qna_item .search_input{
    flex: 1;
}

.qna_conent_wrap{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.space_between{
    display: flex;
    justify-content: space-between;
}

div.select_wrap{
    display: flex;
    gap: 5px;
}

.search_input_box.qna{
    width: 132px;
}

.qusetion_warp{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.qusetion_warp .question_with_comment{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.qusetion_warp .caution{
    color: var(--Caution);
}

.select_wrap .input_wrap{
    display: flex;
    align-items: center;
    gap:15px;
}

.flex_1{
    flex:1;
}

.qusetion_warp .margin_left{
    margin-left: 142px;
}

.qusetion_warp .question_add_item_wrap{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 35px;
}

.question_add_item_wrap .question_add_item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.question_add_item_wrap .question_add_item .question_add_num{
    color: var(--Main-5);
}

.question_add_item_wrap .question_add_item .empty_div{
    width:102px;
}

.question_textarea{
    display: flex;
    gap: 10px;
}

.question_textarea > .search_input_box.qna{
    align-items: flex-start;
    margin-top: 10px;
}

.question_textarea textarea.textarea1{
    width: 100%;
    height: 136px;
}

.middle_button_wrap{
    display: flex;
    flex-direction: column;
    gap:35px;
    margin-block: 16px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.question_btn{
    width:324px;
}

.modal_content.modal2{
    padding: 52px 85px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.modal_content.modal3{
    padding: 60px 84px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.modal_content .question_modal_content_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
    flex-grow: 1; 
    justify-content: space-between;
    height: 100%;
}

.modal_content .question_modal_content_wrap .history_modal_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 41px;
    flex-grow: 1;
    align-self: stretch;
}

.modal_content .question_modal_content_wrap .history_modal_content .history_modal_title_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.modal_content .question_modal_content_wrap .history_modal_content .history_modal_content_box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto; 
    align-self: stretch;
    padding-right: 10px;
    max-height: 538px;
}

.history_modal_content_box .history_item_box{
    border: 1px solid var(--Main-21);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.history_modal_content_box .history_item_box .history_item_wrap{
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.history_modal_content_box .history_item_box .history_item_wrap .show_question{
    color: var(--Main-14);
    background-image: url('../images/icon/arrow_bottom_blue2.png');
    background-size: 14px 8px;
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 30px;
}

.history_modal_content_box::-webkit-scrollbar {
    width: 9px;
    height: 12px; 
}

.history_modal_content_box:-webkit-scrollbar-track {
    background-color: var(--Main-20); 
    border-radius: 10px; 
}

.history_modal_content_box::-webkit-scrollbar-thumb {
    background-color: var(--Main-20);
    border-radius: 50px; 
}

.history_modal_content_box::-webkit-scrollbar-thumb:hover {
    background-color:  var(--Main-25);
}

.history_item_box .question_list{
    display: none;
}

.history_item_box .question_list.show{
    display: block;
}

.history_item_box .question_list .question_item{
    display: flex;
    align-self: stretch;
    padding: 18px 25px 15px 25px;
    background-color: var(--Main-23);
    border-bottom: 1px solid var(--Main-21);
}

.history_item_box .question_list .question_item:last-child{
    border-radius: 0px 0px 20px 20px;
    border-bottom: none;
} 

.history_item_box .question_list .question_item .number{
    width: 23px;
}

.history_item_box .question_list .question_item .title{
    display: flex;
    flex:1;
    margin-right: 20px;
    align-items: flex-start; 
    justify-content: flex-start;
    text-align: left;
}

.check_question_wrap{
    display: flex;
    flex-direction: column;
    gap: 42px;
    align-self: stretch;
    justify-content: center;
}

.check_question_wrap .check_question_list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: stretch;
}

.check_question_wrap .check_question_list .check_question_item{
    padding: 20px 25px;
    background-color: var(--Main-23); 
    border-radius: 5px;  
    text-align: left;
}

.check_question_btn_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.check_question_btn_wrap > button{
    width: 200px;
    height: 50px;
}

@media screen and (max-width: 768px){
    div.main_container .content_container{
        margin:10px;
    }
    div.main_container .sidebar{
        flex-direction: row;
    }

    .fixed-action-bar .bar_content{
        margin: 0px;
    }
}
