<div class="container preparation">
    <div class="preparation_wrap">
        <div class="preparation_content_wrap">
            <div class="content_top">
                <span class="font-headline3 title">면접 응시 전, 설명을 따라 면접을 준비해주세요.</span>
                <span class="font-body7 sub">밑에 있는 세가지 준비를 끝냈다면 확인 버튼을 눌러 응시해주세요.</span>
            </div>
            <div class="content_wrap">
                <div class="content_item">
                    <div class="font-body7 title">웹캠</div>
                    <div class="content_icon cam"></div>
                </div>
                <div class="content_item">
                    <div class="font-body7 title">마이크</div>
                    <div class="content_icon mic"></div>
                </div>
                <div class="content_item">
                    <div class="font-body7 title">인터넷 환경</div>
                    <div class="content_icon internet"></div>
                </div>
            </div>
        </div>
        <div class="btn_wrap">
            <button type="button" class="base_white_large_btn">이전으로</button>
            <button type="button" class="base_primary_large_btn">확인</button>
        </div>
    </div>
</div>    