<div class="container">
    <div class="top">
      <div class="question">
        <p class="font-body3">“ 기본 면접 질문입니다. 기본 면접 질문입니다. 기본 면접 질문입니다.
          기본 면접 질문입니다. 기본 면접 질문입니다. 기본 면접 질문입니다. 기본 면접 질문입니다.
          기본 면접 질문입니다. 기본 면접 질문입니다. 기본 면접 질문입니다. ”</p>
      </div>
    </div>
    <div class="middle">
      <div class="video"></div>
      <div class="time">
        <p class="font-body3">생각 시간</p>
        <div class="timer">
          <img src="../static/images/loding.png" alt="" class="loding">
          <div id="log"><span>30</span></div>
          <p class="font-body3">초</p>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="pageNum font-body3">
        <p>1 / 5</p>
      </div>
    </div>
</div><!--container-->