<div class="container report">
    <div class="complete_wrap">
        <div class="paper_icon"></div>
        <div class="complete_bottom_wrap">
            <div class="title font-headline3">결과 레포트가 완성되었습니다.</div>
             <ul class="font-body7 comment_ul">
                <li class="comment_li"><span>개별보고서</span>는 히스토리에 30일동안 보관된 후 <span>자동 삭제</span>됩니다.</li>
                <li class="comment_li"><span>종합보고서</span>는 히스토리에 <span>영구보관</span>되며 PDF로 다운로드가 가능합니다</li>
             </ul>
        </div>
        <div class="btn_wrap">
            <button type="button" class="base_white_large_btn">나가기</button>
            <button type="button" class="base_primary_large_btn">레포트 보러가기</button>
        </div>
    </div>
</div>    