<div class="container setting">
    <div class="preparation_wrap setting">
        <div class="preparation_content_wrap">
            <div class="content_top">
                <span class="font-headline3 title">얼굴인식 · 마이크 테스트를 진행 해주세요. </span>
                <span class="font-body7 sub">얼굴을 화면 중앙에 맞추고 마이크가 인식되는지 확인 후 면접을 시작하세요.</span>
            </div>
            <div class="content_wrap cam_content">

            </div>
        </div>
        <div class="preparation_btn_wrap">
            <button type="button" class="base_primary_large_btn">면접시작</button>
        </div>
    </div>
</div>    