<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <title>Main</title>
    {% include 'inc/import.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hireu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/interview.css') }}">
    <script src="{{ url_for('static', filename='js/interview.js') }}"></script>
  </head>
  <body>
    <div class="interview_wrap">
      <nav class="menuBar_wrap">
        <ul class="menuBar">
          <!--버튼 아니지만 개발을 위한 임시로 onclick 넣어둠-->
          <li class="menu selected" class="font-btn2" onclick="loadInterviewPreparation();">1 면접 준비</li>
          <li class="menu" class="font-btn2" onclick="loadUserSettings();">2 사용자 설정</li>
          <li class="menu" class="font-btn2" onclick="loadInterviewProcess();">3 면접 진행</li>
          <li class="menu" class="font-btn2" onclick="loadReportGeneration();">4 레포트 생성</li>
          <li class="menu" class="font-btn2" onclick="loadInterviewCompletion();">5 면접 종료</li>
        </ul>
      </nav><!--nav-->
      <section class="contents" id="interview_content"></section>
    </div><!--wrap-->
  </body>
</html>